 
 .arraysContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 2px;
 }

 .leftArray{
    min-width: 130px;    
 }
 .leftArray td{
    min-width: 130px;
 }

 .rightArray{
    overflow-x:auto;   
 }

 .rightArray td {
    min-width: 100px;
 }

 .arraysContainer table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid var(--color-bgTableaux);;
}

.arraysContainer td {
   padding: 2px;
   white-space: nowrap;
   text-align: right;
   border: 2px solid var(--color-bgTableaux);
}

.arraysContainer  tr:nth-of-type(even){
    background-color: var(--color-bgTableaux);
}

.action{
   position: relative;
   color: black;
   text-align: center;
   display: inline-block;
   width: 100%;
   height: 100%;
}
 

.action:hover .plus {
    animation: spin 0.25s linear forwards ;
    fill: green;
}
.action:hover .moins{
    animation: spin 0.125s linear 2  forwards ;;
    fill: red;
   
}


@keyframes spin {
  100% { -webkit-transform: rotate(-180deg); scale: 1.5; transform: rotate(-180deg); }
}