
.managePort h1 {
  position: relative;
    top :-90px;
    left: calc(50vw);
    transform: translateX(-50%);
    white-space: nowrap;
    margin-bottom: -40px;

}

.managePort table{
    table-layout: fixed;
    margin: 30px auto 0 auto;
    border-collapse: collapse;
    border: 3px solid var(--color-bgTableaux);
    font-size: 1.3 rem;
}

.managePort th, .managePort td  {
  width:50px;
  text-align: center;
  border: 3px solid var(--color-bgTableaux);
  white-space: nowrap;
}

.managePort th:first-of-type {
  width:70px;
  padding-right:10px;
  text-align: right;
}

.managePort tr:nth-last-of-type(even){
    background-color: var(--color-bgTableaux);
}

.managePort td {
  padding: 5px;
}