.re_enter{
    width: 400px;
    margin: auto;
}


.form {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:auto;
    flex-wrap: wrap;
    align-items: baseline;
   
}

.label {
    margin-top: 10px;
    display: inline-block;
    width: 200px;
     
}

.re_enter input {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.re_enter input[type="submit"]{
    
    margin: auto ;
    margin-top: 30px;
}