.cardShow{
    width: 430px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 10px 1px rgb(201, 201, 201);
    padding: 10px;
    text-align: start;

}

 
.title2 {
    height: 40px;  
    overflow: hidden; /* Hide the overflow text */
    text-overflow: ellipsis; /* Add an ellipsis (...) when text overflows */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    border-bottom: 1px grey solid;
}
 

/* Attention pour les dimensions du meter indispensable de passer
par des variables ( et de les setter 2* -> pour la div container et 
Pour le svg) */

.cardShow{
    --metW :80vw;
    --metH : calc((var(--metW))*0.58);
}

@media  screen and (min-width:480px) {
   .cardShow{
    --metW :400px;
    --metH :230px; 
    }
}

:export {
    meterWidth: var(--metW);
    meterHeight: var(--metH);
}


.wrapper_btn{
    text-align: center;
    margin: 5px;
   
}

.wrapper_btn a{

    font-size: 1.2rem;
}