.search form {
    margin: auto;
    text-align: center;
    font-size: larger;
}

.search input {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.search table {
  table-layout: fixed;
  width: 100%;
  max-width: 480px;
  margin: auto;
  border-collapse: collapse;
  border: 3px solid var(--color-bgTableaux);
}

.search tbody{
  width: 100vw;
}

.search th:first-of-type,
.search td:first-of-type {
   width: 132px;
    
} 

.search th:nth-of-type(2),
.search td:nth-of-type(2) {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
       
}


.search th:nth-of-type(3),
.search td:nth-of-type(3)  {
  width: 70px;
  text-align: center;
  overflow: hidden;
}
.search th:nth-of-type(4),
.search td:nth-of-type(4) {
  width: 50px;
  text-align: center;
}

.search tr:nth-last-of-type(even) {
  background-color: var(--color-bgTableaux);
}

.search td,
.search th {
  padding: 5px 2px;
  border: 3px solid var(--color-bgTableaux);
}

.search tbody tr:hover td {
  cursor: pointer;
  background-color: var(--color-2-dark);
  color: var(--txt-color-light);
}
