.signin {
    padding: 20px;
    text-align: center;
}

.signin form {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 300px;
    margin: 10px auto;
    text-align: left;
}

.signin input {
    margin-bottom: 10px;
}

.signin p {
    text-align: center;
}

.signin a {
    display: inline;
    color: gray;
    background: transparent;
    
}

img {
    height: 150px;
}