.button {
  font-size: 25px;
  padding: 5px 10px;
  font: bold 15px Arial;
  text-decoration: none;
  height: 100%;
  
   
 
  border-left: 10px black;
  
} 

.navPortfolios{
  background-color: var(--color-bgTableaux);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: rgba(0, 0, 0, 0.234) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.294) 1px solid;
  height: 30px;
}

.isActive{
  color: "#fff" !important;
  background-color: "#7600dc" !important;
}