.portTable {
    table-layout: fixed;
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    border: 3px solid var(--color-bgTableaux);
    border-radius: 5px;
}

.portTable td:first-of-type {
  width:30%;
  padding-right: 5px;
  text-align: right;
}

.portTable td:nth-of-type(2) {
  width:20%;
  text-align: right;
}

.portTable td:nth-of-type(3){
  width: 20%;
  text-align: right;
}

.portTable tr:nth-last-of-type(even){
    background-color: var(--color-bgTableaux);
}

.portTable td {
  padding: 2px 3px;
}

@media screen and ( min-width: 390px ) {
  .portTable{
    max-width: 400px;
  }
  .portTable td:first-of-type {
  width:40%;
  padding-right: 20px;
}
}