.newTrade{
    text-align: center;
}

.form_enter{

    margin: auto;
}


.form_enter {
    display: flex;
    flex-direction: row;
    width: 80%;
    width: 400px;
    margin:auto;
    flex-wrap: wrap;
    align-items: baseline;
   
}

.label {
    margin-top: 10px;
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 30px;
     
}

.form_enter input {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.form_enter input[type="submit"]{
    
    margin: auto ;
    margin-top: 30px;
}