.newTrade{
    text-align: center;
}

.newTrade h1{
    position: relative;
    top :-100px;
    left: calc(50vw);
    transform: translateX(-50%);
    white-space: nowrap;
    margin-bottom: -40px;
}



.form_enter {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin:auto;
    flex-wrap: wrap;
    align-items: baseline;
   
}

.label {
    margin-top: 6px;
    display: inline-block;
     width: 45%;
    text-align: right;
    padding-right: 20px;
     
}

.form_enter input,
.form_enter select {
    display: inline-block;
    width: 45%;
     max-width: 120px;
    border-radius: 10px;
    padding: 4px;
    text-align: right;
}
.form_enter select,
.form_enter input[type="text"] {
     max-width: 180px; 
}

.form_enter input[type="submit"],
.form_enter input[type="select"]{
    margin: auto ;
    margin-top: 30px;
}