.signup {
    composes: sign from "../SignIn/sign.module.css";
}

.signup img{
     margin: auto;
     width: 300px;
}

.signup p {
    text-align: center;
}

.signup a {
    display: inline;
    color: gray;
    
}
.signup input[type="checkbox"] {
    width: 50px;
}
 
.labelCheck{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space{
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}

.eye{
    composes: eye from "../SignIn/sign.module.css";
}

.parentOfPwd {
    composes: parentOfPwd from "../SignIn/sign.module.css";
}
