@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
    --main-font: font-family: 'Open Sans', sans-serif;
    --title-font: font-family: 'Playfair Display', serif;
    --txt-color-light: rgb(255, 255, 255);
    --color-1-dark: rgb(64,112,34); 
    --color-1-light: rgb(141,196,66);
    --color-2-dark: rgb(35,140,185);
    --color-2-light: rgb(41,170,225);
}