input:hover{
     cursor: pointer;
}
 
.myBtn {
    display: inline-block;
    margin: auto;
    width: auto;
    background-color: var(--color-1-light);
    color: var(--txt-color-dark);
    text-transform: uppercase;
    font-weight: bold; 
    overflow: hidden;
    border-radius: 30px;
    border: solid rgba(0, 0, 0, 0.446) 1px;
    padding: 4px;
}

.myBtn:hover{
    cursor: pointer;
     border: solid black 2px;
    padding: 3px;
 
}

input[type="submit"]
{
    background-color: var(--color-1-light);
}

.cancel{
    background-color: red;
    color: blanchedalmond;
}